
.work{
	height:auto;
	padding:5px 0;
	overflow:hidden;
	background:#fff
}
.img{
    width: 50%;
    height: 50%;
}

.work .work-title{
	font-size:60px;
}

.work .work-title span{
	font-weight:normal
}

.work .part {
    margin-top: 15px;
    width: 25%;
    float: left;
    height: auto;
    padding: 50px 0;
    border: 1px solid #888;
    box-sizing: border-box;
    text-align: center;
    margin-left: 10%
}

.work .first {
    margin-left: 0
}

.work .part .icon {
    color: #888;
    margin-bottom: 20px
}

.work .part .part-title {
    font-size: 25px;
    color: #6e8891;
    margin-bottom: 20px
}

.work .part .line {
    width: 60%;
    margin: auto;
    margin-bottom: 20px
}

.work .part .part-desc {
    font-size: 14px;
    color: #888;}